<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js"></script>

<link src="../css/easyWizard.css"/>


<style>
.fa {
  color:#666;
}

hr {
  border-color: transparent;
}

.alt {
  background-color:#e0e0e0;
}

.row > div {
  padding-top:7px;
    padding-bottom:7px;
}
.modal-backdrop {
  display: none;
}

.m{
  margin-top: 100px;
}
.m1{
  margin-top: 110px;
}
.number{
  display: none;
  visibility: hidden;
}
.modal-body {
    max-height: calc(100vh - 70px);
    overflow-y: auto;
}
</style>
<div class="container col-md-12" ng-app='angle'>
  <div ng-controller="inspectionController">
    <div class="row" >
      <div class="col-md-10">
        <button class="btn btn-info" data-toggle="modal" data-target="#myModal"><span>Setup Template</span></button>   
      </div>
    <div class="modal fade m" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Setup Template</h4>
              
                    <span id="no_radio" style="color:red;display:none">Select a ship type first</span>
                </div>
                <div class="modal-body wizard-content">
                    <div class="wizard-step">
                       <form class="form-horizontal" role="form">
                          <div class="form-group" ng-repeat="ship in ships_types">
                            <div class="col-sm-10"><label><input type="radio" id="radio1" name="opt_radio" ng-model="$parent.type" data-value="{{ship.id}}" ng-click="getCategories($event);" value="{{ship.id}}"/>{{ship.type}}</label></div>
                            <input type="hidden" id='hid_field' value='{{ship.id}}'>
                          </div>
                        </form>
                    </div>
                    <div class="wizard-step">
                       <form class="form-horizontal" role="form">
                        <div class="form-group" ng-repeat="category in categories">
                          <div class="action-checkbox">
                            <input id="{{category.name}}" type="checkbox" value="{{category.name}}" ng-checked="selection.indexOf(category.name) > -1" ng-click="toggleSelection(category.name)" />
                            <label for="{{category.name}}"></label>
                            {{category.name}}
                          </div>
      <!--div class="col-sm-10"><label><input type="checkbox"  name="Certification" value=""/>{{category.name}}</label>
                        </div-->
                        </div>
                        <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                            
                            <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#myModal1">Add New Category</button>
                            </div>
                          </div>
                        </div>
                        </form>
                    </div>
                    <div class="wizard-step">
                        <form class="form-horizontal" role="form">
                        <div class="form-group" ng-repeat='select in selection'>
                          <div class="col-sm-10"><label>{{select}}</label>
                        </div>
                        </div>
                        <!--div class="form-group">
                            <div class="col-sm-10"><label><input type="checkbox" name="Documentation" value=""/>Documentation</label></div>
                        </div-->
                        <button type="button" class="btn btn-primary" ng-click="savetemplate()">Save</button>
                      </form>
                    </div>
                      <div class="modal-footer wizard-buttons">
                          <!-- The wizard button will be inserted here. -->
                      </div>
            </div>
        </div>
    </div>
  </div>
          <!-- Modal -->
          <div id="myModal1" class="modal m1" role="dialog">
            <div class="modal-dialog" >

               <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Category</h4>
                        </div>
                        <!-- Modal Body -->
                        <div class="modal-body">
                        <form class="form-horizontal" role="form">
                        <div class="form-group">
                          <div class="col-sm-10"><label>Name<input type="text" name="opt_radio" ng-model="category_name" value=""></label></div>
                        </div>
                        </form>
                        </div>
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" ng-click="saveCategory()">Save</button>
                        </div>
                </div>
            </div>
          </div>


<!--Category modal-->
          <div id="catModal1" class="modal m1" role="dialog">
            <div class="modal-dialog" >

               <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Category</h4>
                        </div>
                        <!-- Modal Body -->
                        <div class="modal-body">
                        <form class="form-horizontal" role="form">
                        <div class="form-group">
                          <div class="col-sm-10"><label>Name<input type="text" name="opt_radio" ng-model="category_name" value=""></label></div>
                        </div>
                        </form>
                        </div>
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" ng-click="saveCategory()">Save</button>
                        </div>
                </div>
            </div>
          </div>
<!--ends here-->
          <!-- Modal -->
          <div id="Modal2" class="modal m1" role="dialog">
            <div class="modal-dialog">

               <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Categories</h4>
                        </div>
                        <!-- Modal Body -->
                        <div class="modal-body">
                        <form class="form-horizontal" role="form">
                        <div class="form-group">
                          <div class="col-sm-10"><label>Name<input type="text" name="opt_radio" value=""/></label></div>
                        </div>
                        </form>
                        </div>
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save</button>
                        </div>         
            </div>
          </div>
        </div>
      <!-- Below name details-->
              
              






    <div class="clearfix"></div>
    <div class="row">
            <div class="col-xs-2">Template Name</div> 
            <!--div class="col-xs-2">Category</div--> 
             <div class="col-xs-2">Actions</div> 
            
    </div>
  <hr>
  <div class="clearfix"></div>
  <div id="dataList">

      <div class="row" ng-repeat-start="qc in templates" ><br>
        <div class="col-xs-2">{{qc.ship_type}}</div> 
        <!--div class="col-xs-2">{{qc.category_name}}</div--> 
        <div class="col-xs-4 text-right">
         <button type="button" ng-click="editTemplate($event)"class="btn btn-primary btn-lg" data-toggle="modal" data-category='{{qc.category_name}}' data-id="{{qc.id}}" data-ship="{{qc.ship_type}}">Edit Template</button> 
      </div>
         <div class="col-xs-3 text-right">
         <button type="button" ng-click="addQuestionModal($event)"class="btn btn-primary btn-lg" data-toggle="modal" data-category='{{qc.category_name}}' data-ship="{{qc.ship_type}}" data-id="{{qc.id}}">Add or Edit Questions</button> 
      </div>

        
      </div>
          <div class="row" ng-repeat-end="" ng-show="active==ship" ng-class-odd="'alt'">
          </div>
     
  </div>
  <hr>
  <!-- Modal -->
<div class="modal fade" id="myModals"  role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="js-title-step">Categories</h4>
      </div>
      <div class="modal-body" >
        <div class="row" data-step="1" data-title="Select Question">
          <div class="well">
          <form class="form-horizontal" role="form">
           <div class="form-group" ng-repeat= "a in array_n">
                          <div class="col-sm-10">

                          <input type="radio" name="radio_button" ng-click="getCategory_template(a)"/>{{a}}
                        </div>
                        </div>
          </form>
          
          </div>
        </div>
        
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left"  data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#next1" >Next</button>
      </div>
    </div>
  </div>
</div>

<!--Add questions -->
<div class="modal fade" id="next1"  role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="js-title-step">Add Questions</h4>
      </div>
      <div class="modal-body" >
        <div class="row" data-step="1" data-title="Select Question">
          <div class="well">
          <form class="form-horizontal" role="form">
           <div class="form-group" ng-repeat= "tc in tc_question">
                          <div class="col-sm-10"><label><input type="checkbox"  ng-checked="tc.check=='true'" ng-model="checkbox[$index]" ng-click="toggleSelection_question(tc.template_question)" name="Certification" value=""/>{{tc.template_question}}</label>
                        </div>
                        </div>
          </form>
          <button type="button" class="btn btn-success js-btn-step" data-toggle="modal" data-target="#questions" >Add Question</button>
          </div>
        </div>
        <!--div class="row hide" data-step="2" data-title="This is the second and last step!">
          <div class="well">As you can see, this is the second and last step!</div>
        </div-->
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left"  data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success pull-right" data-dismiss="modal" data-toggle="modal" data-target="#next" >Next</button>
      </div>
    </div>
  </div>
</div>

<!--End-->
<!-- Edit modal -->

<!-- Modal -->
<div class="modal fade" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Template</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group" ng-repeat="option in options">
            <div class="col-sm-10">
            <input type="radio" ng-model="$parent.selected" ng-value="option"/>{{option}}
          </div>
        </div>
         
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-prev">Prev</button>
        <button type="button" class="btn btn-default btn-next" data-dismiss="modal">Next</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Categories</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group" ng-repeat="(option,enabled) in associativeArray">
              <div class="col-sm-10">
                  <input type="checkbox" name="{{option}}" ng-model="associativeArray[option]" ng-click="toggleSelection1(option)" ng-value="option"/>{{option}}
              </div>
          </div>
            <button type="submit" class="btn btn-default" data-toggle="modal"  data-target="#catModal12">Add New Category</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-prev">Prev</button>
        <button type="button" class="btn btn-default btn-next">Next</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Selected Categories</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group" ng-repeat="s in selection_new1">
              <div class="col-sm-10">
                  <label>{{s}}</label>
              </div>
          </div>
          <button type="button" class="btn btn-primary" ng-click="saveEditedtemplate()">Save</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-prev">Prev</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->


<!--Ends here -->


<!-- modal-->
<div id="questions" class="modal m1" role="dialog" tabindex="-1" aria-labelledby="questionslabel" aria-hidden="true">
            <div class="modal-dialog" >

               <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Questions</h4>
                        </div>
                        <!-- Modal Body -->
                        <div class="modal-body">
                        <form class="form-horizontal" role="form">
                        <div class="form-group">
                          <div class="col-sm-10"><label>Question<input type="text" name="opt_radio" ng-model='question' value="" placeholder="Enter Question Here"/></label></div>
                        </div>
                        </form>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" data-category='{{cat_selected}}' ng-click="saveQuestion($event)">Save</button>
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                          
                        </div>         
            </div>
          </div>
        </div>

        <!--Category modal-->
          <div id="catModal12" class="modal m1" role="dialog">
            <div class="modal-dialog" >

               <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Category</h4>
                        </div>
                        <!-- Modal Body -->
                        <div class="modal-body">
                        <form class="form-horizontal" role="form">
                        <div class="form-group">
                          <div class="col-sm-10"><label>Name<input type="text" name="opt_radio" ng-model="category_name" value=""></label></div>
                        </div>
                        </form>
                        </div>
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" ng-click="saveCategory()">Save</button>
                        </div>
                </div>
            </div>
          </div>
<!--ends here-->

        <!-- Next Modal -->
        <!-- modal-->
<div id="next" class="modal m1" role="dialog" tabindex="-1" aria-labelledby="questionslabel" aria-hidden="true">
            <div class="modal-dialog" >

               <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Question Selected</h4>
                        </div>
                        <!-- Modal Body -->
                        <div class="modal-body">
                          <form class="form-horizontal" role="form">
                            <div class="form-group" ng-repeat="s in selection_q">
                                <div class="col-sm-10">
                                    <label>{{s}}</label>
                                </div>
                            </div>
                          </form>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" ng-click="saveSelectedQuestions()">Save</button>
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                          
                        </div>         
            </div>
          </div>
        </div>

        <!-- Modal Ends-->
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    
  </div>
<script type="text/javascript">
$("div[id^='myModal']").each(function(){
  
  var currentModal = $(this);
  
  //click next
  currentModal.find('.btn-next').click(function(){
    currentModal.modal('hide');
    currentModal.closest("div[id^='myModal']").nextAll("div[id^='myModal']").first().modal('show'); 
  });
  
  //click prev
  currentModal.find('.btn-prev').click(function(){
    currentModal.modal('hide');
    currentModal.closest("div[id^='myModal']").prevAll("div[id^='myModal']").first().modal('show'); 
  });

});



$('#questions').modalSteps({
btnCancelHtml: 'Cancel',
btnPreviousHtml: 'Previous',
btnNextHtml: 'Next',
btnLastStepHtml: 'Complete',
disableNextButton: false,
completeCallback: function(){},
callbacks: {}
});
$('#myModals').modalSteps();

//function change(e){
    //$("#hid_field").val(e) ;


//}

$("#myModal").wizard();
$("#myModals").wizard();

$("#myModal").wizard({
                onfinish:function(){
                    console.log("Finish");
                }
            });
$("#myModals").wizard({
                onfinish:function(){
                    console.log("Finish");
                }
            });
 


$(function() {
$("#id-manager").autocomplete({
source: "/autocomplete_managers/",
minLength: 1,
});
});

$(function() {
$("#id-super").autocomplete({
source: "/autocomplete_superintendents/",
minLength: 1,
});
});
</script>
    <script>
    $(document).ready(function(){
      
 

 $("#mytable #checkall").click(function () {
        if ($("#mytable #checkall").is(':checked')) {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", true);
            });

        } else {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", false);
            });
        }
    });
    

});
    $('input:text[id="nameverify"]').bind('keyup blur', function(){  
        $(this).val( $(this).val().replace(/[^a-zA-Z ]/g,'') );  
    }); 

    
  </script>