
<div ng-controller="RegisterFormController as reg" class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="app/img/logo.png" alt="SIGNUP FORM" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body">
         <span id='empty_message' style='display:none;color:red'>Please fill all the fields</span>
         <span id='loading' style='display:none;color:green'>Please wail while we process your request</span>
         <span id='successmsg' style='display:none;color:green'>SignUp process complete</span>
         <span id='already' style='display:none;color:red'>This email is already registered.Please try a new email address</span>
         <form>
            <div class="form-group has-feedback">
               <label class="text-muted">Name</label>
               <input id="id-name" name='id-name' type="text" required="" class="form-control" />
               
            </div>
            <div class="form-group has-feedback">
               <label class="text-muted">Company Name</label>
               <!--input id="id-company" name='id-company' type="text"  required="" class="form-control" /-->
               <input name="user_name"class="form-control "id="id-company">
               <input type='hidden' name="user_name"class="form-control "id="hidden_field">
            </div>
            <div class="form-group has-feedback">
               <label class="text-muted">Role</label>
               <select class="form-control" id="id-role">
                 <option value="Admin">Admin</option>
                 <option value="Superintendents">Superintendents</option>
                 <option value="Fleet Managers">Fleet Managers</option>
                 <option value="Owner">Owner</option>
               </select>
               <input type='hidden' name="user_name"class="form-control "id="hidden_field1">
               <!--input id="id-role" name='id-role' type="text"  required="" class="form-control" /-->
               
            </div>
            <div class="form-group has-feedback">
               <label class="text-muted">Email address</label>
               <input id="id-email" name='id-email' type="email"  placeholder="Enter email" autocomplete="off" ng-model="reg.account.email" required="" class="form-control" />
               <span id="emvalid" style='display:none;color:red'>Invalid email address</span>
               
            </div>
            <div class="form-group has-feedback">
               <label class="text-muted">Password</label>
               <input id="id-password" name='id-password' type="password"  required="" class="form-control" />
               
            </div>
            

            <button id='btnSignUp' class="btn btn-block btn-primary mt-lg">Create account</button>
         </form>
         <!--div ng-show="reg.authMsg" class="alert alert-danger text-center">{{reg.authMsg}}</div-->
         <p class="pt-lg text-center">Have an account?</p><a ui-sref="page.login" class="btn btn-block btn-default">Signup</a>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>

<script type="text/javascript">
$(function() {
$("#id-company").autocomplete({
source: "/autocomplete/",
minLength: 2,
});
});
</script>

<script>
$('#id-company').blur(function(){
var comp=$('#id-company').val();
$('#hidden_field').val(comp);
var role=$('#id-role').val();
$('#hidden_field1').val(role);
});


 $('input:text[id="id-name"]').bind('keyup blur', function(){  
        $(this).val( $(this).val().replace(/[^a-zA-Z ]/g,'') );  
    });  

 $('input:text[id="id-company"]').bind('keyup blur', function(){  
        $(this).val( $(this).val().replace(/[^a-zA-Z ]/g,'') );  
    });  
 $('input:text[id="id-role"]').bind('keyup blur', function(){  
        $(this).val( $(this).val().replace(/[^a-zA-Z ]/g,'') );  
    });  

$("#id-email").blur(function(){
        var useremail=$('#id-email').val();
        var em=validateEmail(useremail);
        if (em==true){
            console.log('email is valid');
        }else{
            console.log('email is invalid');
            $("#emvalid").show().delay(5000).fadeOut();
        }
        
    });
    
    function validateEmail($email) {
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        return emailReg.test($email);
    }


$('#btnSignUp').click(function() {
   console.log('sadd>>',$('#id-role').val())
      if($('#id-name').val() == '' || $('#id-company').val() == '' ||  $('#id-role').val() == '' ||  $('#id-email').val() == ''|| $('#id-password').val() == ''){
            $("#empty_message").show().delay(5000).fadeOut();
        }else{
          $('#loading').show();
          $.ajax({
              url: '/signUp/',
              //data: $('form').serialize(),
              data:{'id-name':$('#id-name').val(),'id-email':$('#id-email').val(),'id-company':$('#hidden_field').val(),'id-password':$('#id-password').val(),'id-role':$('#hidden_field1').val()},
              type: 'POST',
              success: function(response) {
                  console.log(response);
                  if(response=='success'){
                        $('#id-name').val('');
                        $('#id-email').val('');
                        $('#id-company').val('');
                        $('#id-role').val('');
                        $('#id-password').val('');
                            $("#loading").hide();
                            $("#successmsg").show().delay(5000).fadeOut();
                        }
                        if(response=='already exist'){
                        $("#loading").hide();
                        $("#already").show().delay(5000).fadeOut();

                        }
                        else{
                            console.log('error')
                        }
              },
              error: function(error) {
                  console.log(error);
              }
          });
        }
    });
</script>