<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script-->
<link src="../css/easyWizard.css"/>

<style>
    .fa {
      color:#666;
    }

    hr {
      border-color: transparent;
    }

    .alt {
      background-color:#e0e0e0;
    }

    .row > div {
      padding-top:7px;
        padding-bottom:7px;
    }
    .modal-backdrop {
      display: none;
    }

    .m{
      margin-top: 100px;
    }
    .m1{
      margin-top: 110px;
    }
</style>
<div class="container col-md-10" ng-app='angle'>
  <div ng-controller="usersController">
		<div class="row" >
      <div class="col-md-10">
        <a href="" class="btn btn-info" ng-click="showEditRow(ships)"> <span>Add Ship</span></a>
      </div>
      <div class="clearfix"></div>           
      <div class="container" ng-repeat-end="" ng-show="active==ships" ng-class-odd="'alt'">
          <div class="row">
            <div class="col-xs-2">Name</div> 
            <div class="col-xs-2">Type</div> 
            <div class="col-xs-2">Fleet Manager</div> 
            <div class="col-xs-2">Superintendent</div> 
          </div>
          <div class="row">
            <div class="col-xs-2"><input class="form-control input-sm"  id="nameverify" ng-model="name"></div> 
            <div class="col-xs-2">
              <select class="form-control" ng-model="type">
                <option>Oil Tanker</option>
                <option>Chemical Tanker</option>
                <option>Electronics</option>
                <option>Goods</option>
              </select>
            </div> 
            <div class="col-xs-2"><input name="fleet_manager" class="form-control " id="id-manager"></div>
            <div class="col-xs-2"><input class="form-control input-sm" ng-model="superintendent" id='id-super'></div>  
          </div>
          <div class="row">     
            <div class="col-xs-1 text-right"><button ng-click="saveShip()" class="btn btn-md btn-success">Save</button></div> 
          </div>
      </div></br>
      <div class="row col-sm-10"><h4>Ships Information</h4></div>
      <div class="clearfix"></div>
      <div class="row">
            <div class="col-xs-2">Name</div> 
            <div class="col-xs-2">Type</div> 
            <div class="col-xs-2">Fleet Manager</div> 
            <div class="col-xs-2">Superintendent</div> 
      </div><hr>
      <div class="clearfix"></div>
      <div id="dataList">
        <div class="row" ng-repeat="ship in ships" ng-class-odd="'alt'"><br>
          <div class="col-xs-2">{{ship.name}}</div> 
          <div class="col-xs-2">{{ship.type}}</div> 
          <div class="col-xs-2">{{ship.fleetmanager}}</div> 
          <div class="col-xs-2">{{ship.superintendent}}</div> 
          <div class="col-xs-2 text-right"><a href="" class="btn btn-primary btn-sm" ng-click="editDialog(ship)"><span>Edit</span></a></div>
          <div class="col-xs-2 text-right"><button ng-click="deleteShip(ship.id)" class="btn btn-primary btn-sm">Delete</button></div>
        </div>
        <!--div class="row" ng-repeat="ship in ships" ng-show="active==ship" ng-class-odd="'alt'">
            <div class="col-xs-2"><input class="form-control input-sm" ng-model="ship.name"></div> 
            <div class="col-xs-2"><input class="form-control input-sm" ng-model="ship.type"></div> 
            <div class="col-xs-2"><input id="edit-manager" class="form-control input-sm" ng-model="ship.fleetmanager"></div> 
            <div class="col-xs-2"><input class="form-control input-sm" ng-model="ship.superintendent"></div>      
            <div class="col-xs-2 text-right">
              <button ng-click="editShip(ship.id,ship.name,ship.type,ship.fleetmanager,ship.superintendent)" class="btn btn-sm btn-success">Save</button>
            </div> 
        </div-->
      </div>
      <hr>
      <div class="clearfix"></div>
    </div>
    <!-- Modal -->
<div id="myModal1" class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Edit Ship
                </h4>
            </div>
            <span id="empty" style="color:red;display:none">Please fill all the fields</span>
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form role="form">
                  <div class="form-group">
                    <label for="name">Name</label>
                      <input type="text" class="form-control"
                      id="name" placeholder="Enter a name" ng-model="ship_name"/>
                  </div>
                  <div class="form-group">
                    <label for="type">Ship Type</label>
                      <input type="text" class="form-control"
                          id="ship_type" placeholder="ship type" ng-model="ship_type"/>
                  </div>
                  <div class="form-group">
                    <label for="type">Superintendent</label>
                      <input type="text" class="form-control"
                          id="edit-super" placeholder="" ng-model="superintendent"/>
                  </div>
                  <div class="form-group">
                    <label for="type">Fleet Manager</label>
                      <input type="text" class="form-control"
                          id="edit-manager" placeholder="" ng-model="fleet_manager"/>
                  </div>
                </form>
                
                
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
                <button type="button" ng-click="editShip()" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>
  </div>
</div>

 









    
<script type="text/javascript">

$(function() {
$("#ship_type").autocomplete({
source: "/getVesselTypes/",
minLength: 1,
});
});

$(function() {
$("#edit-super").autocomplete({
source: "/autocomplete_superintendents/",
minLength: 1,
});
});

$(function() {
$("#edit-manager").autocomplete({
source: "/autocomplete_managers/",
minLength: 1,
});
});

$(function() {
$("#id-manager").autocomplete({
source: "/autocomplete_managers/",
minLength: 1,
});
});

$(function() {
$("#id-super").autocomplete({
source: "/autocomplete_superintendents/",
minLength: 1,
});
});
</script>
    

<script>
    $(document).ready(function(){
      

 $("#mytable #checkall").click(function () {
        if ($("#mytable #checkall").is(':checked')) {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", true);
            });

        } else {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", false);
            });
        }
    });
    

});
    $('input:text[id="nameverify"]').bind('keyup blur', function(){  
        $(this).val( $(this).val().replace(/[^a-zA-Z ]/g,'') );  
    }); 

    $('input:text[id="companyverify"]').bind('keyup blur', function(){  
        $(this).val( $(this).val().replace(/[^a-zA-Z ]/g,'') );  
    });  

 $('input:text[id="roleverify"]').bind('keyup blur', function(){  
        $(this).val( $(this).val().replace(/[^a-zA-Z ]/g,'') );  
    });

 $("#emailverify").blur(function(){
        var useremail=$('#emailverify').val();
        var em=validateEmail(useremail);
        if (em==true){
            console.log('email is valid');
        }else{
            console.log('email is invalid');
            $("#emvalid").show().delay(5000).fadeOut();
        }
        
    });
    
    function validateEmail($email) {
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        return emailReg.test($email);
    }
  </script>