<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script-->
<style>
.fa {
  color:#666;
}

hr {
  border-color: transparent;
}

.alt {
  background-color:#e0e0e0;
}

.row > div {
  padding-top:7px;
    padding-bottom:7px;
}

</style>
<div class="container" ng-app='angle'>
  <div ng-controller="usersController">
		<div class="row" >
      <div class="col-md-10">
        <a href="" class="btn btn-info" ng-click="showEditRow(user)"> <span>Add User</span></a>


        <div class="container-fluid" ng-repeat-end="" ng-show="active==user" ng-class-odd="'alt'">
              <div class="row">
                <div class="col-xs-2">Name</div> 
                <div class="col-xs-2">Email</div> 
                <div class="col-xs-2">Role</div> 
                <div class="col-xs-2">Password</div> 
              </div>
              <div class="row">
                  <div class="col-xs-2"><input class="form-control input-sm"  id="nameverify" ng-model="name"></div> 
                  <div class="col-xs-2"><input class="form-control input-sm"  id="emailverify" ng-model="email"><span id="emvalid" style='display:none;color:red'>Invalid email address</span></div> 
                  <div class="col-xs-2"><!--input class="form-control input-sm"  id="roleverify" ng-model="role"-->
                    <select class="form-control" ng-model="role">
                      <option>Fleet Manager</option>
                      <option>Superintendent </option>
                      <option>Owner</option>
                    </select>
                  </div> 
                  <div class="col-xs-2"><input type="password" class="form-control input-sm" ng-model="password"></div>  
              </div>
              <div class="row">     
                  <div class="col-xs-1 text-right"><button ng-click="saveUser()" class="btn btn-md btn-success">Save</button></div> 
              </div>
    </div>
    </br>
    <h4>Users Information</h4>
    <div class="row">
            <div class="col-xs-2">Name</div> 
            <div class="col-xs-2">Email</div> 
            <div class="col-xs-2">Company</div> 
            <div class="col-xs-2">Role</div> 
            
    </div>
  <hr>
  <div id="dataList">

      <div class="row" ng-repeat-start="user in users" ng-class-odd="'alt'"><br>
        <div class="col-xs-2">{{user.name}}</div> 
        <div class="col-xs-2">{{user.email}}</div> 
        <div class="col-xs-2">{{user.company}}</div> 
        <div class="col-xs-2">{{user.role}}</div> 
        <div class="col-xs-2 text-right"><a href="" class="btn btn-primary btn-sm" ng-mouseover="showEditRow(user)"><span>Edit</span></a></div>
        <div class="col-xs-2 text-right"><button ng-click="deleteUser(user.id)" class="btn btn-primary btn-sm">Delete</button></div>
      </div>
          <div class="row" ng-repeat-end="" ng-show="active==user" ng-class-odd="'alt'">
            <div class="col-xs-2"><input class="form-control input-sm" ng-model="user.name"></div> 
            <div class="col-xs-2"><input class="form-control input-sm" ng-model="user.email"></div> 
            <div class="col-xs-2"><input class="form-control input-sm" ng-model="user.company" readonly="readonly"></div> 
            <!--div class="col-xs-2"><input class="form-control input-sm" ng-model="user.role"></div-->     
            <div class="col-xs-2">
               <select class="form-control" ng-model="user.role">
                 <option value="Superintendent">Superintendent</option>
                 <option value="Fleet Manager">Fleet Manager</option>
                 <option value="Owner">Owner</option>
               </select>
            </div> 
            <div class="col-xs-2 text-right"><button ng-click="editUser(user.id,user.name,user.email,user.company,user.role)" class="btn btn-sm btn-success">Save</button></div> 
          </div>
     
  </div>
  
  <hr>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    
  </div>
</div>
    <script>
    $(document).ready(function(){
$("#mytable #checkall").click(function () {
        if ($("#mytable #checkall").is(':checked')) {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", true);
            });

        } else {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", false);
            });
        }
    });
    

});
    $('input:text[id="nameverify"]').bind('keyup blur', function(){  
        $(this).val( $(this).val().replace(/[^a-zA-Z ]/g,'') );  
    }); 

    $('input:text[id="companyverify"]').bind('keyup blur', function(){  
        $(this).val( $(this).val().replace(/[^a-zA-Z ]/g,'') );  
    });  

 $('input:text[id="roleverify"]').bind('keyup blur', function(){  
        $(this).val( $(this).val().replace(/[^a-zA-Z ]/g,'') );  
    });

 $("#emailverify").blur(function(){
        var useremail=$('#emailverify').val();
        var em=validateEmail(useremail);
        if (em==true){
            console.log('email is valid');
        }else{
            console.log('email is invalid');
            $("#emvalid").show().delay(5000).fadeOut();
        }
        
    });
    
    function validateEmail($email) {
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        return emailReg.test($email);
    }
  </script>