{% load static %}
<!DOCTYPE html>
<html lang="en" data-ng-app="angle">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="{{app.description}}">
   <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
   <title data-ng-bind="::pageTitle()">Angle - Angular Bootstrap Admin Template</title>
   <!-- Bootstrap styles-->
   <link rel="stylesheet" href="{% static 'angular/app/css/bootstrap.css' %}" data-ng-if="!app.layout.isRTL">
   <link rel="stylesheet" href="{% static 'angular/app/css/bootstrap-rtl.css' %}" data-ng-if="app.layout.isRTL">
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
   <!-- Application styles-->
   <link rel="stylesheet" href="{% static 'angular/app/css/app.css' %}" data-ng-if="!app.layout.isRTL">
   <link rel="stylesheet" href="{% static 'angular/app/css/app-rtl.css' %}" data-ng-if="app.layout.isRTL">
   <link rel="stylesheet" href="{% static 'angular/app/css/easyWizard.css' %}" data-ng-if="app.layout.isRTL">

   <!-- Themes-->
   <link rel="stylesheet" ng-href="{{app.layout.theme}}" data-ng-if="app.layout.theme">
   <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all"/>
</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat, 'offsidebar-open': app.offsidebarOpen, 'aside-toggled': app.asideToggled}">
   <div data-preloader></div>
   <div data-ui-view="" data-autoscroll="false" class="wrapper"></div>
   
   <script src="{% static 'angular/app/js/base.js' %}"></script>
   <script src="{% static 'angular/app/js/app.js' %}"></script>
   <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"-->
</script> 
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js" type="text/javascript"></script>
<script src="{% static 'angular/app/js/angular-bootstrap-ui-modal.js' %}"></script>
<script src="{% static 'angular/app/js/easyWizard.js' %}"></script>
<script src="{% static 'angular/app/js/jquery-bootstrap-modal-steps.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>

</html>