<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
<script src="../static/angular/app/js/app.js"></script>
<script src="../static/angular/app/js/base.js"></script>
<style>
.sign{
  margin-left:354px;
  margin-top: -1px;
}
.sign label{
  margin-top:-80px;
}
.sign a{
  margin-top:-35px;
}
</style>
<div class="container">   
<form action="login/" method="post">  
<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
<div class="panel panel-info" >
<div class="panel-heading">
<div class="panel-title">Sign In</div>
<span id='invaliddetails' style="display:none;color:red">Please provide valid credentials</span>
<div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
</div>     
<div style="padding-top:30px" class="panel-body" >
<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
<form id="loginform" class="form-horizontal" role="form">
<div style="margin-bottom: 25px" class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input id="login-email" ng-model='email' type="email" class="form-control" name="email" value="" placeholder="email">                                        
</div>
<div style="margin-bottom: 25px" class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
<input id="login-password" ng-model='password' type="password" class="form-control" name="password" placeholder="password">
</div>
<div class="input-group">
<div class="checkbox">
<label>
<input id="login-remember" type="checkbox" name="remember" value="1"> Remember me {{ message }}
</label>
</div>
</div>
<div style="margin-top:10px" class="form-group">
<!-- Button -->
<div class="col-sm-12 controls">
<input class='btn btn-info' type="submit" value="Log In" /><br>
</div>
</div>


<div class="form-group">
<div class="col-md-12 control">
<div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
Don't have an account! 
<a href="/sign-up/" class="btn btn-info">
Sign Up Here
</a>
</div>
</div>
</div>    
</form>   
</div>                     
</div>  
</div>
<script>
$(document).ready(function(){
	var url=document.URL;
	if(url.indexOf('?') > -1)
	{
	  $("#invaliddetails").show().delay(5000).fadeOut();
	}

});
</script>