{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="{% static 'angular/app/css/bootstrap.css' %}" data-ng-if="!app.layout.isRTL">
     <link rel="stylesheet" href="{% static 'angular/app/css/app.css' %}" data-ng-if="!app.layout.isRTL">

    <!-- Website Font style -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all"/>
    
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <style>
body, html{
     height: 100%;
  background-repeat: no-repeat;
  background-color: #d3d3d3;
  font-family: 'Oxygen', sans-serif;
}

.main{
  margin-top: 70px;
}

h1.title { 
  font-size: 50px;
  font-family: 'Passion One', cursive; 
  font-weight: 400; 
}

hr{
  width: 10%;
  color: #fff;
}

.form-group{
  margin-bottom: 15px;
}

label{
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
  background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
  margin-top: 30px;
  margin: 0 auto;
  max-width: 330px;
    padding: 40px 40px;

}

.login-button{
  margin-top: 5px;
}

.login-register{
  font-size: 11px;
  text-align: center;
}
    </style>
    <title>Angle</title>
  </head>
  <body>
    <div class="container">
      <div class="row main">
        <div class="panel-heading">
                 <div class="panel-title text-center">
                    <h1 class="title">Sign Up</h1>
                    <hr />
                  </div>
              </div> 
        <div class="main-login main-center">

          <form class="form-horizontal">
             <span id='empty_message' style='display:none;color:red'>Please fill all the fields</span>
         <span id='loading' style='display:none;color:green'>Please wail while we process your request</span>
         <span id='successmsg' style='display:none;color:green'>SignUp process complete</span>
         <span id='already' style='display:none;color:red'>This email is already registered.Please try a new email address</span>
            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input class="form-control" id="id-name" name='id-name' type="text" required=""/>
                </div>
              </div>
            </div>

            <div class="form-group">
             <label class="text-muted">Company Name</label>
               <!--input id="id-company" name='id-company' type="text"  required="" class="form-control" /-->
               <input name="user_name"class="form-control "id="id-company">
               <input type='hidden' name="user_name"class="form-control "id="hidden_field">
            </div>

            <div class="form-group">
               <label class="text-muted">Role</label>
               <select class="form-control" id="id-role">
                 <option value="Admin">Admin</option>
                 <option value="Superintendents">Superintendents</option>
                 <option value="Fleet Managers">Fleet Managers</option>
                 <option value="Owner">Owner</option>
               </select>
               <input type='hidden' name="user_name"class="form-control "id="hidden_field1">
            </div>

            <div class="form-group">
              <label for="password" class="cols-sm-2 control-label">Email</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <input id="id-email" name='id-email' type="email"  placeholder="Enter email" autocomplete="off" ng-model="reg.account.email" required="" class="form-control" />
               <span id="emvalid" style='display:none;color:red'>Invalid email address</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="confirm" class="cols-sm-2 control-label">Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                   <input id="id-password" name='id-password' type="password"  required=""  placeholder="Enter your Password" class='form-control'/>
                </div>
              </div>
            </div>

            <div class="form-group ">
              <button type="button" class="btn btn-primary btn-lg btn-block login-button" id='btnSignUp'>Register</button>
            </div>
            <div class="login-register"><h4>
              Already have a account?</h4>
                    <a href="/" class="btn btn-info">Login</a>
                 </div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript">
</script> 
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!--script src="{% static 'angular/app/js/angular-bootstrap-ui-modal.js' %}"></script-->

<script type="text/javascript">
$(function() {
$("#id-company").autocomplete({
source: "/autocomplete/",
minLength: 1,
});
});
</script>

<script>
$('#id-company').blur(function(){
var comp=$('#id-company').val();
$('#hidden_field').val(comp);
var role=$('#id-role').val();
$('#hidden_field1').val(role);
});


 $('input:text[id="id-name"]').bind('keyup blur', function(){  
        $(this).val( $(this).val().replace(/[^a-zA-Z ]/g,'') );  
    });  

 $('input:text[id="id-company"]').bind('keyup blur', function(){  
        $(this).val( $(this).val().replace(/[^a-zA-Z ]/g,'') );  
    });  
 $('input:text[id="id-role"]').bind('keyup blur', function(){  
        $(this).val( $(this).val().replace(/[^a-zA-Z ]/g,'') );  
    });  

$("#id-email").blur(function(){
        var useremail=$('#id-email').val();
        var em=validateEmail(useremail);
        if (em==true){
            console.log('email is valid');
        }else{
            console.log('email is invalid');
            $("#emvalid").show().delay(5000).fadeOut();
        }
        
    });
    
    function validateEmail($email) {
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        return emailReg.test($email);
    }


$('#btnSignUp').click(function() {
   console.log('sadd>>',$('#id-role').val())
      if($('#id-name').val() == '' || $('#id-company').val() == '' ||  $('#id-role').val() == '' ||  $('#id-email').val() == ''|| $('#id-password').val() == ''){
            $("#empty_message").show().delay(5000).fadeOut();
        }else{
          $('#loading').show();
          $.ajax({
              url: '/signUp/',
              //data: $('form').serialize(),
              data:{'id-name':$('#id-name').val(),'id-email':$('#id-email').val(),'id-company':$('#hidden_field').val(),'id-password':$('#id-password').val(),'id-role':$('#hidden_field1').val()},
              type: 'POST',
              success: function(response) {
                  console.log(response);
                  if(response=='success'){
                        $('#id-name').val('');
                        $('#id-email').val('');
                        $('#id-company').val('');
                        $('#id-role').val('');
                        $('#id-password').val('');
                            $("#loading").hide();
                            $("#successmsg").show().delay(5000).fadeOut();
                            var delay = 3000; //Your delay in milliseconds
                            setTimeout(function(){ window.location = '/'; }, delay);
                        }
                        if(response=='already exist'){
                        $("#loading").hide();
                        $("#already").show().delay(5000).fadeOut();

                        }
                        else{
                            console.log('error')
                        }
              },
              error: function(error) {
                  console.log(error);
              }
          });
        }
    });
</script>