<!-- START Off Sidebar (right)-->
<nav>
   <uib-tabset justified="true">
      <uib-tab>
         <uib-tab-heading>
            <em class="icon-equalizer fa-lg"></em>
         </uib-tab-heading>
         <div ng-include="'/static/angular/app/views/partials/settings.html'"></div>
      </uib-tab>
      <uib-tab>
         <uib-tab-heading>
            <em class="icon-user fa-lg"></em>
         </uib-tab-heading>
         <div>
            <div ng-include="'/static/angular/app/views/partials/chat.html'"></div>
         </div>
      </uib-tab>
   </uib-tabset>
</nav>
<!-- END Off Sidebar (right)-->